body{
    background-color: lightblue;
}
.board-container{
    padding: 1px;
    /* background-color: lightseagreen; */
}
.endGame{
    pointer-events: none;
}

table {
    border: 3px solid;
    margin: 20px auto;
    border-color: black;
    border-radius: 2%;
}


.board td {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    background-color:pink;
    transition: background-color 0.5s;
    cursor: pointer;
    color: black;
    border-radius: 10%;
}

.board td:hover {
    background-color: gray;
}   

h1 {
    text-align: center;
    color: rgb(109, 37, 37);
}

.seconds{
    /* font-style: italic; */
    border:10px solid;
    width: 50px;
    padding: 10px;
    text-align: center;
    color: red ;
    border-color: gray;
    margin: auto;
    height: auto;
    background-color: black;
    margin-bottom: 20px; 
    font-size: 30px; 
    font-weight:bold;
    /* border-radius: 100%; */
  }

.game-level{
    text-align: center;
}

.additional{
    text-align: center;
    font-size: 2em;
}

/* .exploded{
    background-color: red;
    pointer-events: none;
} */

.flagged{
    background-color: yellow;
    pointer-events: none;
}

.hide{
    display: none;
}

.game-result{
    font-size: 2em;
    /* text-align: center; */
}

.footer{
    font-family: cursive;
    font-size: 2em ;
    color: purple;
    /* font-style: italic; */
}

.pic{
    width: 2em;
}